@model IEnumerable<Loppuprojekti_MVC.Models.Species>

@using Loppuprojekti_MVC.Models;

@{
    ViewData["Title"] = "SpeciesIndex";
}

<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">All threatened species</h1>
        <p class="lead">EX: Extinct  |  EW: Extinct in the Wild  |  EN: Endangered  |  CR: Critically Endangered  |  VU: Vulnerable</p>
    </div>
</div>

@*<h1>All threatened Species: </h1>*@

@*<p>A JavaScript script is needed for the dropdown to work. Change in state etc. Also check that the parameter is passed down okay..</p>
    @using (Html.BeginForm("searchTerms", "Species", "SCategory", FormMethod.Get))
    {
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </button>
            <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" role="menuitem" name="searchTerms" id="searchTerms" value="NT">Near Threatened</a>
                <a class="dropdown-item" role="menuitem" name="searchTerms" id="searchTerms" value="VU" href="#">Vulnerable</a>
                <a class="dropdown-item" role="menuitem" name="searchTerms" id="searchTerms" value="EN" href="#">Endangered</a>
                <a class="dropdown-item" role="menuitem" name="searchTerms" id="searchTerms" value="CR" href="#">Critically Endangered</a>
                <a class="dropdown-item" role="menuitem" name="searchTerms" id="searchTerms" value="EW" href="#">Extinct in The Wild</a>
                <a class="dropdown-item" role="menuitem" name="searchTerms" id="searchTerms" value="EX" href="#">Extinct</a>
            </div>
            <input type="submit" name="Search" id="searchTerms" value="Search" />
        </div>
    }*@

<br />

@using (Html.BeginForm("searchTerms", "Species", "SCategory", FormMethod.Get))
{
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-dark">
            <input type="radio" name="searchTerms" id="EX" value="EX" autocomplete="off"> Extinct
        </label>
        <label class="btn btn-outline-dark">
            <input type="radio" name="searchTerms" id="EW" value="EW" autocomplete="off"> Extinct in The Wild
        </label>
        <label class="btn btn-outline-dark">
            <input type="radio" name="searchTerms" id="EN" value="EN" autocomplete="off"> Endangered
        </label>
        <label class="btn btn-outline-dark">
            <input type="radio" name="searchTerms" id="CR" value="CR" autocomplete="off"> Critically Endangered
        </label>
        <label class="btn btn-outline-dark">
            <input type="submit" name="searchTerms" id="VU" value="VU" autocomplete="off"> Vulnerable
        </label>

    </div>
    <br />
    <input type="submit" name="Search" id="searchTerms" value="Search" />
}


@foreach (var s in Model)
{
    @*<ul><i>@s.ScientificName</i>, classified as @s.Category</ul>*@

    <ul>
        <i>
            @Html.ActionLink(s.ScientificName, "SingleSpecies", "Species", new { searchTerms = s.ScientificName })
            ,
        </i> classified as @s.Category
    </ul>
}


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
